doctype html
html
  head
    title= title
    link(rel="stylesheet", href='/stylesheets/libs/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/management/style.css')

    script(src="/javascripts/libs/jquery.slim.min.js")
    script(src="/javascripts/libs/popper.min.js")
    script(src="/javascripts/libs/bootstrap.min.js")


  body
    block content
